<div class="section">
  <!-- Astrologie -->
  <div class="section">
    <div class="section-title">
      Astrologie
    </div>
    <div class="section-row cols-2">
      <div class="section-field">
        <input type="text" name="system.bio.astrology" value="{{system.bio.astrology}}">
        <div class="field-label">Signe Astral</div>
      </div>
      <div class="section-field">
        <input type="text" name="system.bio.corruption" value="{{system.bio.corruption}}">
        <div class="field-label">Corruption</div>
      </div>
    </div>
  </div>

  <!-- Apparence -->
  <div class="section">
    <div class="section-title">
      Apparence
    </div>
    <div class="section-row cols-7">
      <div class="section-field">
        <input type="text" name="system.bio.gender" value="{{system.bio.gender}}">
        <div class="field-label">Genre</div>
      </div>
      <div class="section-field">
        <input type="text" name="system.bio.distinctive" value="{{system.bio.distinctive}}">
        <div class="field-label">Signes distinctifs</div>
      </div>
      <div class="section-field">
        <input type="text" name="system.bio.age" value="{{system.bio.age}}">
        <div class="field-label">Âge</div>
      </div>
      <div class="section-field">
        <input type="text" name="system.bio.height" value="{{system.bio.height}}">
        <div class="field-label">Taille</div>
      </div>
      <div class="section-field">
        <input type="text" name="system.bio.weight" value="{{system.bio.weight}}">
        <div class="field-label">Poids</div>
      </div>
      <div class="section-field">
        <input type="text" name="system.bio.eyes" value="{{system.bio.eyes}}">
        <div class="field-label">Yeux</div>
      </div>
      <div class="section-field">
        <input type="text" name="system.bio.skin" value="{{system.bio.skin}}">
        <div class="field-label">Peau</div>
      </div>
      <div class="section-field">
        <input type="text" name="system.bio.hair" value="{{system.bio.hair}}">
        <div class="field-label">Cheveux</div>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="section">
    <div class="section-title">
      Description
    </div>
    <textarea name="system.bio.description">{{system.bio.description}}</textarea>
  </div>

  <!-- Histoire -->
  <div class="section">
    <div class="section-title">
      Histoire
    </div>
    <textarea name="system.bio.history">{{system.bio.history}}</textarea>
  </div>

  <!-- Notes diverses -->
  <div class="section">
    <div class="section-title">
      Notes diverses
    </div>
    <textarea name="system.bio.notes">{{system.bio.notes}}</textarea>
  </div>
</div>